<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>Aventuras em Flask - parte 2</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i>Ligue pra mim</a></li>
            <li><i class="fa-solid fa-user"></i><a href="#">Contato</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        Alguma coisa{% endblock %}
    </main>
    <footer>
        <p>@Galera do MJD</p>
        {% block footer %}Rodapé padrão{% endblock %}
    </footer>
</html>